<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blank152.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E527D3161E44AB0F00FA657B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E527D3331E44AB0F00FA657B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E527D33E1E44AB0F00FA657B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
